
$body_background: white;

$onHover_onClick: black;

$textColor_Dark: black;
$textColor_Clear: white;

$primaryColor: #9356DC;
$secondaryColor: #FF79DA;
$tertiaryColor: #99E2D0;

$explore_DarkGrey: rgb(195, 195, 195);
$explore_MediumGrey: rgb(233, 233, 233);
$explore_ClearGrey: rgb(245, 245, 245);

$resto_Thumbnails: white;

$footerColor: rgb(35, 35, 35);

$loadingBackColor: lightgrey;


$boxShadow_Color_Clear: lightgrey;
$boxShadow_Color_Medium: grey;
$boxShadow_Color_Dark: black;