
@mixin icons($size, $margin, $marginRight) {
    font-size: $size;
    margin: $margin;
    margin-right: $marginRight;
}


@mixin body {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@include resetPos;
}


@mixin header {
    @include flexCenter(100%);
    width: 100%;
    height: 63px;
    color: $textColor_Dark;
    
    h1{
        margin-top: 11px;
    }
}


@mixin booking($width, $marginTop, $marginLeft) {
    text-align: center;
	flex-wrap: wrap;
    width: $width;
	margin-top: $marginTop;
    margin-left: $marginLeft;
}


@mixin resetPos {
    margin: 0px;
    padding: 0px;
}


@mixin flexCenter($width) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $width;
}


@mixin flexBetween_X($width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $width;
}


@mixin flexBetween_Y($width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    width: $width;
}


@mixin flexStart_X($width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: $width;
}


@mixin flexStart_Y($width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: $width;
}


@mixin circle($height) {
    height:$height;
    border-radius: $height;
}


@mixin boxShadow {
    box-shadow: 5px 5px 5px lightgray;
}


@mixin anchor {
    a:hover {
        box-shadow: 5px 5px 5px grey;
    }

    a:active {
        box-shadow: 5px 5px 5px black;
    }
}

@mixin h2 {
    font-family: "Roboto-Black";
    line-height: 100%;
	font-weight: 400;
	font-size: 150%;

    @include resetPos;
}


@mixin h3 {
    font-family: "Roboto-Regular";
    line-height: 100%;
	font-weight: 800;
	font-size: 100%;

    @include resetPos;
}


@mixin p_Regular {
    font-family: "Roboto-Regular";
    line-height: 100%;
	font-weight: 400;
	font-size: 100%;

    @include resetPos;
}


@mixin p_Light {
    font-family: "Roboto-Light";
    line-height: 100%;
	font-weight: 400;
	font-size: 100%;

    @include resetPos;
}

