
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


@mixin flexBetween_X {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


@mixin flexBetween_Y {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    width: 100%;
}


@mixin flexStart_X {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 100%;
}


@mixin flexStart_Y {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 100%;
}





@mixin resetPos {
    margin: 0px;
    padding: 0px;
}


@mixin icons($marginLeft) {
    @include resetPos;
    position: absolute;
    font-size: 100%;
    margin-left: $marginLeft;
}


@mixin circleEdges($height) {
    height:$height;
    border-radius: $height;
}


@mixin fig($height) {
    width: 100%;
    height: $height;
}


@mixin anchor {
    a {
        box-shadow: 5px 5px 5px lightgray;
    }

    a:hover {
        box-shadow: 5px 5px 5px grey;
    }

    a:active {
        box-shadow: 5px 5px 5px black;
    }
}

@mixin radiusCorner($topRad, $botRad) {
    border-radius: $topRad $topRad $botRad $botRad;
}





@mixin h2 {
    font-family: "Roboto-Black";
    line-height: 100%;
	font-weight: 400;
	font-size: 150%;

    @include resetPos;
}


@mixin h3 {
    font-family: "Roboto-Regular";
    line-height: 100%;
	font-weight: 800;
	font-size: 100%;

    @include resetPos;
}


@mixin p_Regular {
    font-family: "Roboto-Regular";
    line-height: 100%;
	font-weight: 400;
	font-size: 100%;

    @include resetPos;
}


@mixin p_Light {
    font-family: "Roboto-Light";
    line-height: 100%;
	font-weight: 400;
	font-size: 100%;

    @include resetPos;
}





@mixin body {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@include resetPos;
}


@mixin booking($marginTop, $marginLeft) {
    text-align: center;
	flex-wrap: wrap;
    width: 100%;
	margin-top: $marginTop;
    margin-left: $marginLeft;
}


@mixin grad_Button($width, $marginTop, $marginLeft) {
    @include flexCenter;
    @include circleEdges(50px);
    @include p_Regular;
    width: $width;
    background: linear-gradient(to bottom right, $secondaryColor, $primaryColor);
    text-decoration: none;
    color: $textColor_Clear;
    margin-top: $marginTop;
    margin-left: $marginLeft;
}


@mixin figText($height, $marginLeft, $fontSize) {
    @include flexBetween_Y;
	justify-content: flex-start;
	height: $height;
	margin-left: $marginLeft;
	font-size: $fontSize;
	color: $textColor_Dark;

	p {
		font-size: 95%;
		width: 100%;
	}
}


@mixin heart($marginTop, $marginRight) {
    @include icons(0%);
	font-size: 160%;
	position: unset;
	margin-top: $marginTop;
	margin-right: $marginRight;
	background: linear-gradient(to top, $secondaryColor, $primaryColor);
						
	.far {
		// position: absolute;
		color: $textColor_Dark;
	}
}