
@import "_mixins";

/* Shrikhand Regular */
@font-face {
    font-family:"Shrikhand-Regular";
    src: url("../fonts/Shrikhand-Regular.otf");
}

/* Roboto Light */
@font-face {
    font-family:"Roboto-Light";
    src: url("../fonts/Roboto-Light.ttf");
}

/* Roboto Regular */
@font-face {
    font-family:"Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf");
}

/* Roboto Black */
@font-face {
    font-family:"Roboto-Black";
    src: url("../fonts/Roboto-Black.ttf");
}



/* Shrikhand Regular */
h1 {
    font-family: "Shrikhand-Regular";
    line-height: 100%;
	font-weight: 400;
	font-size: 188%;

    @include resetPos;
}

/* Roboto Black */
h2 {
    font-family: "Roboto-Black";
    line-height: 118%;
	font-weight: 400;
	font-size: 150%;
    word-spacing: 18%;

    @include resetPos;
}

/* Roboto Regular */
h3 {
    font-family: "Roboto-Regular";
    line-height: 100%;
	font-weight: 800;
	font-size: 100%;

    @include resetPos;
}

/* Roboto Light */
p {
    font-family: "Roboto-Light";
    line-height: 120%;
	font-weight: 400;
	font-size: 110%;

    @include resetPos;
}