
@import "../_colors";
@import "../_mixins";


/* ============================================================================================================= */
/* 			----  Smartphone Portrait ---- */
/* ============================================================================================================= */

body {
	@include body;
}


/* ============================================================================================================= */
/* 			----  Main Section  ---- */
/* ============================================================================================================= */
section {
	@include flexBetween_Y;

	.head_Photo {
		@include resetPos;
		@include fig(275px);

		img {
			@include fig(100%);
			object-fit: cover;
		}
	}

	.plaquette {
		@include flexStart_Y;
		@include radiusCorner(40px, 0px);
		margin-top: -55px;
		height: 1160px;
		background-color: $explore_MediumGrey;

		.name_resto {
			@include flexBetween_X;
			justify-content: space-around;
			margin-top: 39px;
			margin-bottom: 35px;

			h1 {
				font-size: 175%;
				margin-left: 5px;
			}

			.heart {
				@include heart(-6px, 5.5%);
			}
		}

		.meals_Container {
			@include flexBetween_Y;
			width: 93%;
			height: 906px;
			
			.meals {
				@include flexBetween_Y;
				justify-content: flex-start;
	
				.title {
					width: 40px;
					font-size: 100%;
					margin-left: 2%;
					padding-bottom: 5px;
					border-bottom: 3px solid $tertiaryColor;
				}
	
				.choice {
					@include flexBetween_Y;
					@include anchor;
					height: 232px;
					margin-top: 14px;
					
					$anchorHeight: 68px;

					a {
						@include flexBetween_X;
						justify-content: flex-end;
						@include radiusCorner(15px, 15px);
						text-decoration: none;
						color: $textColor_Dark;
						height: $anchorHeight;
						background-color: $resto_Thumbnails;
						
						$figTextHeight:42px;

						.figText {
							@include figText(3%);
							height: $figTextHeight;
							// background-color: darkorange;
							
							h3 {
								@include flexStart_X;
								font-size: 108%;
							}
							
							p {
								@include flexStart_X;
								font-size: 94%;
							}
						}

						.price {
							@include flexBetween_X;
							position: absolute;
							
							margin-right: -60px;
							// width: 36%;
							width: 135px;

							border-radius: 0px 15px 15px 0px;
							background-color: $resto_Thumbnails;
							// background-color: darkviolet;
							
							transform: translateX(0);
							transition: transform 0.5s;
							
							.priceText {
								@include flexBetween_X;
								margin-top: -4px;
								// width: 41%;
								width: 55px;
								align-items: flex-end;
								height: $figTextHeight;
								// background-color: red;
								
								.priceDots {
									font-size: 100%;
								}
							}

							figure {
								@include icons(0px);
								@include flexCenter;
								position: unset;
								
								// width: 43%;
								width: 58px;
								font-size: 140%;

								border-radius: 0px 14px 14px 0px;
								height: $anchorHeight;
								color: $resto_Thumbnails;
								background-color: $tertiaryColor;
							}
						}
					}

					a:hover, a:active {
						.price {
							transform: translateX(-60px);
						}
					}
				}
			}
		}
		
		.command {
			@include grad_Button(186px, 45px, 0px);
		}

		.command:hover, .command:active {
			color: $onHover_onClick;
			opacity: 80%;
		}
	}
	
}