
@import "../_colors";
@import "../_mixins";


/* ============================================================================================================= */
/* 			----  Smartphone Portrait ---- */
/* ============================================================================================================= */

body {
	@include body;
}


$figTextHeight:42px;
$anchorHeight: 68px;
$mealContainerWidth: 93%;

$checkedSlideDuration: 0.5s;
$choicesUpwardDuration: 1.2s;
$setAppearDuration: 1.2s;


/* ============================================================================================================= */
/* 			----  Main Section  ---- */
/* ============================================================================================================= */
section {
	@include flexBetween_Y;

	.headPhoto {
		@include resetPos;
		@include fig(275px);

		img {
			@include fig(100%);
			object-fit: cover;
		}
	}

	.plaquette {
		@include flexStart_Y;
		@include radiusCorner(40px, 0px);
		@include anchor;
		margin-top: -55px;
		height: 1160px;
		background-color: $explore_MediumGrey;
		
		.nameResto {
			@include flexBetween_X;
			justify-content: space-between;
			width: 89%;
			margin-top: 39px;
			margin-bottom: 35px;
			
			h6 {
				font-size: 175%;
				width: 100%;
			}
			
			.heart {
				@include heart;
				margin-top: -8px;
				margin-right: 13px;
				margin-left: 8%;
			}
			
			.heart:hover, .heart:active {
				@include heartOnHover;
			}
		}
		
		.mealsContainer {
			@include flexBetween_Y;
			width: $mealContainerWidth;
			height: 906px;
			
			.meals {
				@include flexBetween_Y;
				justify-content: flex-start;
				height: 280px;

				// background-color: blue;
				.title {
					width: 40px;
					font-size: 100%;
					margin-left: 2%;
					padding-bottom: 5px;
					border-bottom: 3px solid $tertiaryColor;
				}
	
				.choices {
					@include flexBetween_Y;
					@include anchor;
					height: 86%;
					margin-top: 14px;

					animation: choicesMenu $choicesUpwardDuration linear;
				}
			}
		}

		.command {
			@include grad_Button(186px, 45px, 0px);
		}

		.command:hover, .command:active {
			color: $onHover_onClick;
			opacity: 80%;
		}
	}
}


/* ============================================================================================================= */
/* 			----  Anchor Choice Menu  ---- */
/* ============================================================================================================= */
body section .plaquette .mealsContainer .meals .choices a {
	@include flexStart_X;
	@include radiusCorner(15px, 15px);
	flex-wrap: nowrap;
	position: relative;
	overflow: hidden;
	
	text-decoration: none;
	color: $textColor_Dark;
	height: $anchorHeight;
	background-color: $resto_Thumbnails;

	.setText {
		z-index: 20;
		@include figText(3%);
		height: $figTextHeight;
		width: 80%;
							
		transition-duration: $checkedSlideDuration;
							
		// opacity: 50%;
		// background-color: darkorange;
		
		h3 {
			@include flexStart_X;
			@include textEllipsis;
			font-size: 108%;
			padding-bottom: 5px;
			// background-color: yellowgreen;
		}
		
		p {
			@include flexStart_X;
			@include textEllipsis;
			font-size: 94%;
			// background-color: yellowgreen;
		}
	}

	.price {
		z-index: 20;
		@include flexStart_Y;
		align-content: flex-end;
		height: $figTextHeight;
		width: 15%;
		margin-right: 7px;
		padding-bottom: 4px;

		transition-duration: $checkedSlideDuration;
		// background-color: darkviolet;
	}
						
	.checkBox {
		z-index: 0;
		@include flexCenter;
		border-radius: 0px 15px 15px 0px;
		position: absolute;
		height: $anchorHeight;
		width: 16.5%;
		
		background-color: $tertiaryColor;
		transition-duration: $checkedSlideDuration;

		right: -16.5%;

		figure {
			@include flexCenter;
			font-size: 130%;
			color: $resto_Thumbnails;

			transition-duration: $checkedSlideDuration;
		}
	}
}


.set {
	animation: $setAppearDuration linear;
}

.set_1 {
	animation-name: set_1;
}

.set_2 {
	animation-name: set_2;
}

.set_3 {
	animation-name: set_3;
}

.set_4 {
	animation-name: set_4;
}


/* ============================================================================================================= */
/* 			----  Anchor Choice Menu : OnHover ---- */
/* ============================================================================================================= */
body section .plaquette .mealsContainer .meals .choices a:hover, 
body section .plaquette .mealsContainer .meals .choices a:active {
	.setText {
		width: 63%;
	}

	.checkBox {
		right: 0%;
	}
					
	.checkBox figure {
		animation: checkBox $checkedSlideDuration;
	}
}


/* ============================================================================================================= */
/* 			----  Animations  ---- */
/* ============================================================================================================= */
@keyframes checkBox {
	0% {
		transform: rotate(90deg);
	}

	100% {
		transform: rotate(360deg);
	}
}


$height:89%;

@keyframes choicesMenu {
	0% {
		margin-top: 24px;
		height: $height;
	}

	10% {
		margin-top: 24px;
		height: $height;
	}
	
	60% {
		height: $height;
	}

	70% {
		margin-top: 14px;
	}

	100% {
		height: 86%;
	}
}


@keyframes set_1 {
	0% {
		opacity: 0%;
	}

	40% {
		opacity: 0%;
	}

	100% {
		opacity: 100%;
	}
}


@keyframes set_2 {
	0% {
		opacity: 0%;
	}

	60% {
		opacity: 0%;
	}

	100% {
		opacity: 100%;
	}
}


@keyframes set_3 {
	0% {
		opacity: 0%;
	}

	80% {
		opacity: 0%;
	}

	100% {
		opacity: 100%;
	}
}

@keyframes set_4 {
	0% {
		opacity: 0%;
	}

	80% {
		opacity: 0%;
	}

	100% {
		opacity: 100%;
	}
}