
@import "../_colors";
@import "../_mixins";


/* ============================================================================================================= */
/* 			----  Smartphone Portrait ---- */
/* 			
/*					----  Header ---- */
/* ============================================================================================================= */


header {
    @include flexCenter;
    height: 63px;
    color: $textColor_Dark;
    
    h1{
        margin-top: 11px;
    }
}