
@import "../_colors";
@import "../_mixins";


/* ============================================================================================================= */
/* 			----  Smartphone Portrait ---- */
/* ============================================================================================================= */

body {
	@include body;
}


$figTextHeight:42px;
$anchorHeight: 68px;
$mealContainerWidth: 93%;
$checkedDuration: 0.5s;

/* ============================================================================================================= */
/* 			----  Main Section  ---- */
/* ============================================================================================================= */
section {
	@include flexBetween_Y;

	.headPhoto {
		@include resetPos;
		@include fig(275px);

		img {
			@include fig(100%);
			object-fit: cover;
		}
	}

	.plaquette {
		@include flexStart_Y;
		@include radiusCorner(40px, 0px);
		margin-top: -55px;
		height: 1160px;
		background-color: $explore_MediumGrey;

		.nameResto {
			@include flexBetween_X;
			justify-content: space-between;
			width: 89%;
			margin-top: 39px;
			margin-bottom: 35px;

			h6 {
				font-size: 175%;
			}

			.heart {
				@include heart;
				margin-top: -8px;
				margin-right: 13px;
				margin-left: 8%;
			}

			.heart:hover, .heart:active {
				@include heartOnHover;
			}
		}
		
		.mealsContainer {
			@include flexBetween_Y;
			width: $mealContainerWidth;
			height: 906px;
			
			.meals {
				@include flexBetween_Y;
				justify-content: flex-start;
	
				.title {
					width: 40px;
					font-size: 100%;
					margin-left: 2%;
					padding-bottom: 5px;
					border-bottom: 3px solid $tertiaryColor;
				}
	
				.choice {
					@include flexBetween_Y;
					@include anchor;
					height: 232px;
					margin-top: 14px;
				}
			}
		}

		.command {
			@include grad_Button(186px, 45px, 0px);
		}

		.command:hover, .command:active {
			color: $onHover_onClick;
			opacity: 80%;
		}
	}
}


/* ============================================================================================================= */
/* 			----  Anchor Choice Menu  ---- */
/* ============================================================================================================= */
body section .plaquette .mealsContainer .meals .choice a {
	@include flexStart_X;
	flex-wrap: nowrap;
	@include radiusCorner(15px, 15px);
	text-decoration: none;
	color: $textColor_Dark;
	height: $anchorHeight;
						
	background-color: $resto_Thumbnails;

	.choiceText {
		z-index: 20;
		@include figText(3%);
		height: $figTextHeight;
		width: 80%;
							
		transition-duration: $checkedDuration;
							
		// opacity: 60%;
		background-color: darkorange;
							
		h3 {
			@include flexStart_X;
			@include textEllipsis;
			font-size: 108%;
		}
							
		p {
			@include flexStart_X;
			@include textEllipsis;
			font-size: 94%;
		}
	}

	.price {
		z-index: 20;
		@include flexStart_Y;
		align-content: flex-end;
		height: $figTextHeight;
		width: 15%;
		margin-right: 7px;

		transition-duration: $checkedDuration;
							
		// opacity: 60%;
		background-color: darkviolet;
	}
						
	.checkBox {
		z-index: 0;
		@include flexCenter;
		border-radius: 0px 15px 15px 0px;
		position: absolute;
		height: $anchorHeight;
		width: 15%;

		background-color: $tertiaryColor;
		transition-duration: $checkedDuration;
							
		// opacity: 50%;
		margin-left: 94%;

		figure {
			@include flexCenter;
			font-size: 130%;
			color: $resto_Thumbnails;

			transition-duration: $checkedDuration;
		}
	}
}


/* ============================================================================================================= */
/* 			----  Anchor Choice Menu : OnHover ---- */
/* ============================================================================================================= */
body section .plaquette .mealsContainer .meals .choice a:hover, 
body section .plaquette .mealsContainer .meals .choice a:active {
	.choiceText {
		width: 63%;
	}

	.checkBox {
		margin-left: 78%
	}
					
	.checkBox figure {
		animation: checkBox $checkedDuration;
	}
}


/* ============================================================================================================= */
/* 			----  Animations  ---- */
/* ============================================================================================================= */
@keyframes checkBox {
	0% {
		transform: rotate(90deg);
	}

	100% {
		transform: rotate(360deg);
	}
}