/* ============================================================================================================= */
/* 			----  Smartphone Portrait ---- */
/* ============================================================================================================= */
body {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* ============================================================================================================= */
/* 			----  Main Section  ---- */
/* ============================================================================================================= */
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 100%;
}

section .head_Photo {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 275px;
}

section .head_Photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section .plaquette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  margin-top: -55px;
  height: 1160px;
  background-color: #e9e9e9;
}

section .plaquette .name_resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 39px;
  margin-bottom: 35px;
}

section .plaquette .name_resto h1 {
  font-size: 175%;
  margin-left: 5px;
}

section .plaquette .name_resto .heart {
  margin: 0px;
  padding: 0px;
  position: absolute;
  font-size: 100%;
  margin-left: 0%;
  font-size: 160%;
  position: unset;
  margin-top: -6px;
  margin-right: 5.5%;
  background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to top, #FF79DA, #9356DC);
}

section .plaquette .name_resto .heart .far {
  color: black;
}

section .plaquette .meals_Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 100%;
  width: 93%;
  height: 906px;
}

section .plaquette .meals_Container .meals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

section .plaquette .meals_Container .meals .title {
  width: 40px;
  font-size: 100%;
  margin-left: 2%;
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
}

section .plaquette .meals_Container .meals .choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 100%;
  height: 232px;
  margin-top: 14px;
}

section .plaquette .meals_Container .meals .choice a {
  -webkit-box-shadow: 5px 5px 5px lightgray;
          box-shadow: 5px 5px 5px lightgray;
}

section .plaquette .meals_Container .meals .choice a:hover {
  -webkit-box-shadow: 5px 5px 5px grey;
          box-shadow: 5px 5px 5px grey;
}

section .plaquette .meals_Container .meals .choice a:active {
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
}

section .plaquette .meals_Container .meals .choice a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 15px 15px 15px 15px;
  text-decoration: none;
  color: black;
  height: 68px;
  background-color: white;
}

section .plaquette .meals_Container .meals .choice a .figText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 3%;
  color: black;
  height: 42px;
}

section .plaquette .meals_Container .meals .choice a .figText h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 108%;
}

section .plaquette .meals_Container .meals .choice a .figText p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 94%;
}

section .plaquette .meals_Container .meals .choice a .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: absolute;
  width: 15%;
  border-radius: 0px 15px 15px 0px;
  background-color: white;
}

section .plaquette .meals_Container .meals .choice a .price .priceText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: -4px;
  width: 41%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 42px;
}

section .plaquette .meals_Container .meals .choice a .price .priceText .priceDots {
  font-size: 0%;
}

section .plaquette .meals_Container .meals .choice a .price figure {
  margin: 0px;
  padding: 0px;
  position: absolute;
  font-size: 100%;
  margin-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: unset;
  width: 0%;
  font-size: 0%;
  border-radius: 0px 14px 14px 0px;
  height: 68px;
  color: white;
  background-color: #99E2D0;
}

section .plaquette .meals_Container .meals .choice a:hover .price, section .plaquette .meals_Container .meals .choice a:active .price {
  width: 36%;
}

section .plaquette .meals_Container .meals .choice a:hover .price .priceDots, section .plaquette .meals_Container .meals .choice a:active .price .priceDots {
  font-size: 100%;
}

section .plaquette .meals_Container .meals .choice a:hover .price figure, section .plaquette .meals_Container .meals .choice a:active .price figure {
  width: 43%;
  font-size: 140%;
}

section .plaquette .command {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  width: 186px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  text-decoration: none;
  color: white;
  margin-top: 45px;
  margin-left: 0px;
}

section .plaquette .command p {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto-Regular";
  line-height: 100%;
  font-weight: 400;
  font-size: 100%;
}

section .plaquette .command:hover, section .plaquette .command:active {
  color: black;
  opacity: 80%;
}
/*# sourceMappingURL=layoutPhone_Restaurants.css.map */