
@import "../_colors";
@import "../_mixins";


/* ============================================================================================================= */
/* 			----  Smartphone Portrait ---- */
/* ============================================================================================================= */

body {
	@include body;
}


/* ============================================================================================================= */
/* 			----  Explore  ---- */
/* ============================================================================================================= */
.explore {
	@include indexAccueil;
	@include flexStart_Y;	
	height:337px;
	
	.location {
		@include flexStart_Y;
		background-color: $explore_MediumGrey;
		height: 15%;

		.gradient{
			height: 5px;
			width: 100%;
			background: linear-gradient(to bottom, $explore_DarkGrey, $explore_MediumGrey);
		}

		figure {
			@include flexBetween_X;
			@include icons(0%);
			width: 140px;
			position: unset;
			margin-top: 12px;
			margin-right: 30px;
		}
	}

	.booking {
		@include flexStart_Y;
		@include anchor;
		background-color: $explore_ClearGrey;
		height: 85%;
		
		h2 {
			@include booking(38px, -15px);
		}
		
		p {
			@include booking(12px, 6px);
		}
		
		
		a {
			@include grad_Button(220px, 31px, 6px);
		}

		a:hover, a:active {
			color: $onHover_onClick;
			opacity: 80%;
		}
	}
}


/* ============================================================================================================= */
/* 			----  Fonctionnement  ---- */
/* ============================================================================================================= */
.fonctionnement {
	@include indexAccueil;
	@include flexStart_Y;	
	height:440px;

	background-color: $body_background;
	
	h2 {
		@include flexStart_X;
		margin-top: 47px;
		margin-left: 5%;
		margin-bottom: 25px;
	}
	
	.buttons {
		@include flexBetween_Y;
		@include anchor;
		height: 275px;
		
		a {
			@include flexStart_X;
			@include radiusCorner(20px, 20px);
			position: relative;

			width: 86%;
			font-size: 97%;
			text-decoration: none;
			color: $textColor_Dark;
			background-color: $explore_ClearGrey;
			
			height: 73px;
			margin-left: 12px;
			margin-top: 6px;
			
			h4 {
				@include resetPos;
				@include flexCenter;
				@include circleEdges(23px);
				
				font-family: "Roboto-Regular";
				line-height: 100%;
				font-weight: 800;
				font-size: 100%;

				width: 23px;
				font-weight: 400;
				background-color: $primaryColor;
				color: $textColor_Clear;
				margin-top: 6px;
				margin-left: -11px;
				margin-right: 18.5%;
			}
			
			.mobile, .menu {
				@include icons(0%);
				left: 9%;
				font-size: 120%;
			}

			.store {
				@include icons(0%);
				left: 9%;
				font-size: 110%;
				color: $primaryColor;
			}
		}
	}
}


/* ============================================================================================================= */
/* 			----  Restaurans  ---- */
/* ============================================================================================================= */
.restaurants {
	@include indexAccueil;
	@include flexStart_Y;
	background-color: $explore_ClearGrey;
	height:1226px;
	
	h2 {
		@include flexStart_X;
		margin-top: 53px;
		margin-left: 5%;
		margin-bottom: 23px;
	}
	
	.restoThumbnails {
		@include flexBetween_Y;
		@include anchor;
		height: 1058px;

		a {
			@include flexBetween_Y;
			@include radiusCorner(15px, 15px);
			position: relative;

			width: 90%;
			height: 23.5%;

			background-color: $resto_Thumbnails;
			// background-color: lime;
			
			.nouveau {
				@include flexCenter;
				position: absolute;
				height: 30px;
				width: 90px;

				top: 10%;
				right: 12%;

				text-decoration: none;
				color: green;
				border-radius: 2px;

				background-color: $tertiaryColor;

				p {
					font-size: 90%;
					font-weight: 800;
				}
			}

			.thumbnails {
				@include flexBetween_Y;
				@include resetPos;
				position: relative;
				width: 100%;
				height: 70%;
				
				img {
					@include fig(100%);
					@include radiusCorner(15px, 0px);
					object-fit: cover;
				}

				figcaption {
					@include flexBetween_X;
					@include fig(77px);
					@include radiusCorner(0px, 15px);
					position: absolute;
					bottom: -44%;
					// background-color: darkturquoise;
					// opacity: 50%;
					
					.figText {
						@include figText(4%);

						h2 {
							@include resetPos;
							font-size: 110%;
						}

						p {
							font-size: 106%;
						}
					}
					
					.heart {
						@include heart;
						margin-right: 40px;

						.heartFilter {
							background-color: $resto_Thumbnails;
							// background-color: blue;
						}
					}
		
					.heart:hover, .heart:active {
						@include heartOnHover;
					}
				}
			}
		}
	}
}