
@import "layoutPhone_Restaurants";

/* ============================================================================================================= */
/* 			----  Main Section  ---- */
/* ============================================================================================================= */
section .plaquette {
	height: 1273px;
    
    .mealsContainer {
	    height: 80%;

        .entrees {
            height: 365px;

            .choices {
                animation: choicesMenu_entrees $choicesUpwardDuration linear;
                height: 90%;
            }
        }
    }
}


.set_1 {
	animation-name: set_1;
}

.set_2_entree {
	animation-name: set_2_entree;
}

.set_3_entree {
	animation-name: set_3_entree;
}

.set_4_entree {
	animation-name: set_4_entree;
}


/* ============================================================================================================= */
/* 			----  Animations  ---- */
/* ============================================================================================================= */
$height:93%;

@keyframes choicesMenu_entrees {
	0% {
		margin-top: 24px;
		height: $height;
	}

	10% {
		margin-top: 24px;
		height: $height;
	}
	
	60% {
		height: $height;
	}

	70% {
		margin-top: 14px;
	}

	100% {
		height: 90%;
	}
}


@keyframes set_2_entree {
	0% {
		opacity: 0%;
	}

	55% {
		opacity: 0%;
	}

	100% {
		opacity: 100%;
	}
}


@keyframes set_3_entree {
	0% {
		opacity: 0%;
	}

	70% {
		opacity: 0%;
	}

	100% {
		opacity: 100%;
	}
}

@keyframes set_4_entree {
	0% {
		opacity: 0%;
	}

	85% {
		opacity: 0%;
	}

	100% {
		opacity: 100%;
	}
}