/* ============================================================================================================= */
/* 			----  Smartphone Portrait ---- */
/* ============================================================================================================= */
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
  padding: 0px;
}

/* ============================================================================================================= */
/* 			----  Explore  ---- */
/* ============================================================================================================= */
.explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 100%;
  height: 337px;
}

.explore .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 100%;
  background-color: #e9e9e9;
  height: 15%;
}

.explore .location .gradient {
  height: 5px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#c3c3c3), to(#e9e9e9));
  background: linear-gradient(to bottom, #c3c3c3, #e9e9e9);
}

.explore .location figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: absolute;
  font-size: 100%;
  margin-left: 0%;
  font-family: "Roboto-Regular";
  line-height: 100%;
  font-weight: 800;
  font-size: 100%;
  margin: 0px;
  padding: 0px;
  width: 140px;
  position: unset;
  margin-top: 12px;
  margin-right: 30px;
}

.explore .booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 100%;
  background-color: whitesmoke;
  height: 85%;
}

.explore .booking a {
  -webkit-box-shadow: 5px 5px 5px lightgray;
          box-shadow: 5px 5px 5px lightgray;
}

.explore .booking a:hover {
  -webkit-box-shadow: 5px 5px 5px grey;
          box-shadow: 5px 5px 5px grey;
}

.explore .booking a:active {
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
}

.explore .booking h2 {
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 38px;
  margin-left: -15px;
}

.explore .booking p {
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 12px;
  margin-left: 6px;
}

.explore .booking a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  font-family: "Roboto-Regular";
  line-height: 100%;
  font-weight: 400;
  font-size: 100%;
  margin: 0px;
  padding: 0px;
  width: 220px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  text-decoration: none;
  color: white;
  margin-top: 31px;
  margin-left: 6px;
}

.explore .booking a:hover, .explore .booking a:active {
  color: black;
}

/* ============================================================================================================= */
/* 			----  Fonctionnement  ---- */
/* ============================================================================================================= */
.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 100%;
  height: 440px;
}

.fonctionnement h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 47px;
  margin-left: 5%;
  margin-bottom: 25px;
}

.fonctionnement .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 100%;
  height: 275px;
}

.fonctionnement .buttons a {
  -webkit-box-shadow: 5px 5px 5px lightgray;
          box-shadow: 5px 5px 5px lightgray;
}

.fonctionnement .buttons a:hover {
  -webkit-box-shadow: 5px 5px 5px grey;
          box-shadow: 5px 5px 5px grey;
}

.fonctionnement .buttons a:active {
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
}

.fonctionnement .buttons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 20px 20px 20px 20px;
  font-family: "Roboto-Regular";
  line-height: 100%;
  font-weight: 800;
  font-size: 100%;
  margin: 0px;
  padding: 0px;
  width: 86%;
  font-size: 97%;
  text-decoration: none;
  color: black;
  background-color: whitesmoke;
  height: 73px;
  margin-left: 12px;
  margin-top: 6px;
}

.fonctionnement .buttons a h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 23px;
  border-radius: 23px;
  width: 23px;
  font-weight: 400;
  background-color: #9356DC;
  color: white;
  margin-top: 6px;
  margin-left: -11px;
  margin-right: 18.5%;
}

.fonctionnement .buttons a .mobile {
  margin: 0px;
  padding: 0px;
  position: absolute;
  font-size: 100%;
  margin-left: 9%;
  font-size: 120%;
}

.fonctionnement .buttons a .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  width: 24px;
  position: absolute;
  margin-left: 8.5%;
}

.fonctionnement .buttons a .menu .menu_Dots {
  margin: 0px;
  padding: 0px;
  position: absolute;
  font-size: 100%;
  margin-left: 0%;
  position: unset;
}

.fonctionnement .buttons a .menu .menu_Bars {
  margin: 0px;
  padding: 0px;
  position: absolute;
  font-size: 100%;
  margin-left: 0%;
  font-size: 120%;
  position: unset;
}

.fonctionnement .buttons a .store {
  margin: 0px;
  padding: 0px;
  position: absolute;
  font-size: 100%;
  margin-left: 9%;
  font-size: 110%;
  color: #9356DC;
}

/* ============================================================================================================= */
/* 			----  Restaurans  ---- */
/* ============================================================================================================= */
.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 100%;
  background-color: whitesmoke;
  height: 1226px;
}

.restaurants h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 53px;
  margin-left: 5%;
  margin-bottom: 23px;
}

.restaurants .resto_Thumbnails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 100%;
  height: 1058px;
}

.restaurants .resto_Thumbnails a {
  -webkit-box-shadow: 5px 5px 5px lightgray;
          box-shadow: 5px 5px 5px lightgray;
}

.restaurants .resto_Thumbnails a:hover {
  -webkit-box-shadow: 5px 5px 5px grey;
          box-shadow: 5px 5px 5px grey;
}

.restaurants .resto_Thumbnails a:active {
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
}

.restaurants .resto_Thumbnails a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 100%;
  border-radius: 15px 15px 15px 15px;
  width: 90%;
  height: 250px;
  background-color: white;
}

.restaurants .resto_Thumbnails a .thumbnails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 100%;
  height: 174px;
}

.restaurants .resto_Thumbnails a .thumbnails img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants .resto_Thumbnails a .thumbnails figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  width: 100%;
  height: 77px;
  border-radius: 0px 0px 15px 15px;
  position: absolute;
  margin-top: 174px;
}

.restaurants .resto_Thumbnails a .thumbnails figcaption .figText {
  font-family: "Roboto-Black";
  line-height: 100%;
  font-weight: 400;
  font-size: 150%;
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 55%;
  margin-left: 4%;
  font-size: 112%;
  color: black;
}

.restaurants .resto_Thumbnails a .thumbnails figcaption .figText p {
  font-size: 95%;
  width: 100%;
}

.restaurants .resto_Thumbnails a .thumbnails figcaption .heart {
  margin: 0px;
  padding: 0px;
  position: absolute;
  font-size: 100%;
  margin-left: 0%;
  font-size: 160%;
  position: unset;
  margin-top: -6px;
  margin-right: 7%;
  background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to top, #FF79DA, #9356DC);
}

.restaurants .resto_Thumbnails a .thumbnails figcaption .heart .far {
  color: black;
}
/*# sourceMappingURL=layoutPhone_Accueil.css.map */